/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

/* HEADER */





/*  BODY  */

body {
    margin: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.intro{
    display: flex;
    width: auto;
    margin: 12% auto;
    justify-content: center;
    padding: 1% 4%;
    font-size: 12px;
    background-color: white;


}
.ciudad{
    display: flex;
    flex-direction: column;
    width: available;
    align-items: center;
}

.fentrada{
    display: flex;
    flex-direction: column;
    width: available;
    align-items: center;
}
.fsalida{
    display: flex;
    flex-direction: column;
    width: available;
    align-items: center;
}
.nadultos{
    display: flex;
    flex-direction: column;
    width: available;
    align-items: center;
}
.nniños{
    display: flex;
    flex-direction: column;
    width: available;
    align-items: center;
}
.nhabitaciones{
    display: flex;
    flex-direction: column;
    width: available;
    align-items: center;
}

.inputciudad{
    border-radius: 15px 0 0 15px;
    border-left-style: solid;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 10%;
    width: 150px;
    height: 50px;
}

.inputfentrada{
    border-left-style: solid;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 10%;
    width: 150px;
    height: 50px;
    justify-content: center;

}

.inputfsalida{
    border-left-style: solid;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 10%;
    width: 150px;
    height: 50px;
    justify-content: center;

}

.inputnadultos{
    border-left-style: solid;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 10%;
    width: 150px;
    height: 50px;
    justify-content: center;

}

.inputniños{
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 10%;
    width: 150px;
    height: 50px;
    justify-content: center;

}

.inputnhabitaciones{ /*  */
    border-radius: 0 15px 15px 0;
    border-left-style: none;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 10%;
    width: 150px;
    height: 50px;
    justify-content: center;

}

.buscar{ /* BOTON SUBMIT BUSCAR */
    width: auto;
    height: 50%;
    margin: auto 5%;
}