<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tipos de pensión</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/InicioAdministrador.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
<header class="mainh">

    <div class="cheader">
        <h1>Atlas</h1>
        <p>BOOKING</p>
    </div>

    <div class="lheader">
        <a href="InicioAdministrador.html">Inicio</a>
        <a href="ComentariosAdmin.html">Comentarios</a>
        <a href="FacturasAdmin.html">Administración</a>
        <a href="ofertas_servicios_admin.html">Ofertas y Servicios</a>
        <a href="InformesAdmin.html">Informes</a>
        <div class="login-singup">
            <button href="index.html">Hola Paco</button>
            <a href="index.html">Crear cuenta</a>
        </div>
    </div>


</header>
<br>
<h1 style="margin: auto;">Pensiones</h1>
<br>
<h3 style="margin: auto;">Introduzca las pensiones que oferta</h3>
<br>
<form style="margin: auto" th:action="@{/pension/crear/}" th:object="${pension}" method="post">
    <div style="display: flex; flex-flow: row nowrap; width: 90%">
        <div class="form-check" style="display: flex; flex-flow: row nowrap;width: 50%; justify-content: space-between;">
            <label class="form-check-label" for="alojamiento">Solo alojamiento</label>
            <input type="checkbox" class="form-check-input" id="alojamiento" th:field="*{booleanSa}">
        </div>

        <div class="form-group">
            <label for="precioAlojamiento">Precio Alojamiento</label>
            <input type="number" class="form-control" id="precioAlojamiento"  placeholder="Introduce el precio" th:field="*{sa}">
            <small id="alojamientodetalle" class="form-text text-muted">Si esta opción no añade ningún extra al
                alojamiento, introduce la cantidad de 0 €</small>
        </div>
    </div>
    <div style="display: flex; flex-flow: row nowrap;width: 90%; justify-content: space-between;">
        <div style="display: flex; flex-flow: row nowrap;">
            <div class="form-check" style="display: flex; flex-flow: row nowrap;width: 50%; justify-content: space-between;">
                <label class="form-check-label" for="desayunoyalmuerzo">Desayuno y Almuerzo</label>
                <input type="checkbox" class="form-check-input" id="desayunoyalmuerzo" th:field="*{booleanAd}">
            </div>

            <div class="form-group">
                <label for="precioDesayuno">Precio del desayuno y almuerzo</label>
                <input type="number" class="form-control" id="precioDesayuno"  placeholder="Introduce el precio" th:field="*{ad}">
                <small id="almydesdetalle" class="form-text text-muted">Esta cantidad se añadirá por día y huésped al precio final</small>
            </div>
        </div>
    </div>
    <div style="display: flex; flex-flow: row nowrap; width: 90%; justify-content: space-between;">
        <div style="display: flex; flex-flow: row nowrap;">
            <div class="form-check" style="display: flex; flex-flow: row nowrap;width: 50%; justify-content: space-between;">
                <label class="form-check-label" for="almuerzoycena">Media pensión</label>
                <input type="checkbox" class="form-check-input" id="almuerzoycena" th:field="*{booleanMp}">
            </div>

            <div class="form-group">
                <label for="precioalmuerzocena">Precio de la media pensión</label>
                <input type="number" class="form-control" id="precioalmuerzocena"  placeholder="Introduce el precio" th:field="*{mp}">
                <small id="emailHelp" class="form-text text-muted">Esta cantidad se añadirá por día y huésped al precio final</small>
            </div>
        </div>
    </div>
    <div style="display: flex; flex-flow: row nowrap; width: 90%; justify-content: space-between;">
        <div style="display: flex; flex-flow: row nowrap;">
            <div class="form-check" style="display: flex; flex-flow: row nowrap;width: 50%; justify-content: space-between;">
                <label class="form-check-label" for="pensioncompleta">Pensión completa</label>
                <input type="checkbox" class="form-check-input" id="pensioncompleta" th:field="*{booleanPc}">
            </div>

            <div class="form-group" >
                <label for="preciopc">Precio de la pensión completa</label>
                <input type="number" class="form-control" id="preciopc"  placeholder="Introduce el precio" th:field="*{pc}">
                <small id="pensioncompletadetalle" class="form-text text-muted">Esta cantidad se añadirá por día y huésped al precio final</small>
            </div>
        </div>
    </div>
    <input type="hidden" th:value="${id}" th:attr="name='id'"/>
    <a th:href="@{/usuario/inicio/}">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </a>
</form>
<br>
<a th:href="@{/usuario/inicio/}">
    <button  type="submit" class="btn btn-primary">Volver</button></a>
<br>
<footer class="lasth">

    <div class="promote-hotel">
        <p>Forma parte de nosotros</p>
        <button>Registra tus alojamientos</button>
    </div>

    <div class="middle-footer">
        <div class="cheader">
            <h1>Atlas</h1>
            <p>BOOKING</p>
        </div>
        <div class="nets">
            <img src="img/face.svg" alt="">
            <img src="img/insta.svg" alt="">
            <img src="img/twitter.svg" alt="">
        </div>
        <p>Copyrigth © 2022 Atlas Booking S.L.</p>
    </div>

    <div class="footer-links">
        <a href="index.html">Sobre nosotros.</a>
        <a href="index.html">Comunidad.</a>
        <a href="index.html">Uso de cookies.</a>
        <a href="index.html">Politica de privacidad.</a>
        <a href="index.html">Condiciones de uso.</a>
    </div>

</footer>
</body>
</html>