<!DOCTYPE html >
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Crear Hotel</title>
    <link rel="stylesheet" href="/styles/FacturasAdmin.css">
    <link rel="stylesheet" href="/styles/finder.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>

<header class="mainh">

    <div class="cheader">
        <h1>Atlas</h1>
        <p>BOOKING</p>
    </div>

    <div class="lheader">
        <a href="InicioAdministrador.html">Inicio</a>
        <a href="ComentariosAdmin.html">Comentarios</a>
        <a href="FacturasAdmin.html">Administración</a>
        <a href="ofertas_servicios_admin.html">Ofertas y Servicios</a>
        <a href="InformesAdmin.html">Informes</a>
        <div class="login-singup">
            <button href="index.html">Hola Paco</button>
            <a href="index.html">Crear cuenta</a>
        </div>
    </div>



</header>

<h1>¡Hola ...ADMIN!</h1>
<div>

    <form class="formulario" name="form" th:action="@{/habitacion/nueva}" th:object="${habitacion}" method="post"> <! ––th:object="${}" ––>

        <h2>Habitación</h2>

        <label class="parform" for="num_habitaciones_iguales">Número de habitaciones iguales</label>
        <input class="parform" type="number" id="num_habitaciones_iguales" name="num_habitaciones_iguales" th:field="*{num_habitaciones_iguales}" />

        <label class="parform" for="tipo_habitacion">Tipo de Habitación</label>
        <select class="parform" type="text" id="tipo_habitacion" name="tipo_habitacion" th:field="*{tipo_habitacion}">
        <option value="Doble">Doble</option>
        <option value="Individual">Individual</option>
        <option value="Suite">Suite</option>
        </select>
        <label class="parform" for="tipo_cama">Tipo de cama</label>
        <select class="parform" type="text" id="tipo_cama" name="tipo_cama" th:field="*{tipo_cama}">
            <option value="Doble">Doble</option>
            <option value="Individual">Individual</option>
        </select>
        <label class="parform" for="num_camas" >Numero de camas</label>
        <input class="parform" type="number" id="num_camas" name="correo" th:field="*{num_camas}" />

        <label class="parform" for="bano" >Baño</label>
        <input class="parform" type="checkbox" id="bano" name="bano" th:checked="*{bano}"/>

        <label class="parform" for="wifi" >Wifi</label>
        <input class="parform" type="checkbox" id="wifi" name="wifi" th:checked="*{wifi}"/>

        <label class="parform" for="vistas" >Vistas</label>
        <input class="parform" type="checkbox" id="vistas" name="vistas" th:checked="*{vistas}"/>

        <label class="parform" for="precio_base" >Precio Base</label>
        <input class="parform" type="number" id="precio_base" name="precio_base" th:field="*{precio_base}"/>

        <button class="submit" type ="submit"  text="Siguiente">Siguiente</button>
        <a href="hotel/habitacion">
            <button>Volver</button>
        </a>
    </form>

    <footer class="lasth">

        <div class="promote-hotel">
            <p>Forma parte de nosotros</p>
            <button>Registra tus alojamientos</button>
        </div>

        <div class="middle-footer">
            <div class="cheader">
                <h1>Atlas</h1>
                <p>BOOKING</p>
            </div>
            <div class="nets">
                <img src="img/face.svg" alt="">
                <img src="img/insta.svg" alt="">
                <img src="img/twitter.svg" alt="">
            </div>
            <p>Copyrigth © 2022 Atlas Booking S.L.</p>
        </div>

        <div class="footer-links">
            <a href="index.html">Sobre nosotros.</a>
            <a href="index.html">Comunidad.</a>
            <a href="index.html">Uso de cookies.</a>
            <a href="index.html">Politica de privacidad.</a>
            <a href="index.html">Condiciones de uso.</a>
        </div>

    </footer>
</div>
</body>
</html>