<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atlas Booking</title>
</head>
<body>
    <p>Fecha entrada</p>
    ---------------------
    <p th:text="${registro.f_entrada}"></p>
    <p>Fecha salida</p>
    ---------------------
    <p th:text="${registro.f_salida}"></p>
    <p>Numero de dias</p>
    ---------------------
    <p th:text="${registro.n_dias}"></p>
    <p>Personas</p>
    ---------------------
    <p th:text="${registro.n_personas}"></p>
    <p>Tipo de pension</p>
    ---------------------
    <p th:text="${registro.t_pension}"></p>
    <p>Precio Total</p>
    ---------------------
    <p th:text="${registro.precio_total_dias}"></p>

</body>
</html>