<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <title>Atlas Booking</title>
</head>
<body class="images-container">
<script src="/scripts/backimage.js"></script>


<header class="mainh">

  <div class="lheader">
      <a href="Descubre">Descubre</a>
      <a href="Descubre">Descubre</a>
  </div>
  <div class="cheader">
    <h1>Atlas</h1>
    <p>BOOKING</p>
  </div>

  <div class="lheader">
    <a href="Descubre">Descubre</a>
    <button class="link-buttom" href="index.html">Identifícate</button>
  </div>

</header>

<label style="
    display: flex;
    width: 80%;
    margin: 12% auto;
    justify-content: center;
    align-items: center;
    padding: 2% 1%;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 5px 50px rgba(0, 0, 0, 1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: white;
    border-radius: 5px;
">
  <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
">
    <p>Elige una ciudad</p>
    <input type="text" value="Próximo destino..." style="
    border-radius: 10px 0 0 10px;
    border-left-style: solid;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 150px;
    height: 50px;
">
  </div>
  <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
">
    <p style="
    width: available;
    justify-content: center;
    align-content: center;
    filter: drop-shadow(0 0 10px #000000);
">Fecha de entrada</p>
    <input type="date" value="" style="
    border-left-style: solid;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 150px;
    height: 50px;
    justify-content: center;
">
  </div>
  <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
">
    <p style="
    width: available;
    justify-content: center;
    align-content: center;
    filter: drop-shadow(0 0 10px #000000);
">Fecha de salida</p>
    <input type="date" value="" style="
    border-left-style: solid;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 150px;
    height: 50px;
    justify-content: center;
">
  </div>
  <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
">
    <p style="
    width: available;
    justify-content: center;
    align-content: center;
    filter: drop-shadow(0 0 10px #000000);
">¿Cuántos adultos?</p>
    <input type="number" value="0" style="
    border-left-style: solid;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 150px;
    height: 50px;
    justify-content: center;
">
  </div>
  <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
">
    <p style="
    width: available;
    justify-content: center;
    align-content: center;
    filter: drop-shadow(0 0 10px #000000);
">¿Hay niños?</p>
    <input type="number" value="0" style="
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 150px;
    height: 50px;
    justify-content: center;
">
  </div>
  <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
">
    <p style="
    width: available;
    justify-content: center;
    align-content: center;
    filter: drop-shadow(0 0 10px #000000);
">¿Cuántas habitaciones?</p>
    <input type="number" value="0" style="
    border-radius: 0 10px 10px 0;
    border-left-style: none;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 150px;
    height: 50px;
    justify-content: center;
">
  </div>

  <button style="
    width: 56px;
    height: 56px;
    margin: auto 0 0 2%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
    background-position: center;
"><img src="/img/buscarLogo.svg" alt="" style="width: 30px"></button>

</label>

<footer class="lasth">

  <div class="promote-hotel">
    <p>Forma parte de nosotros</p>
    <form method="get" action="registro_admin.html">
    <button id="registra" >Registra tus alojamientos</button>
    </form>
  </div>

  <div class="middle-footer">
    <div class="cheader">
      <h1>Atlas</h1>
      <p>BOOKING</p>
    </div>
    <div class="nets">
      <img src="/img/face.svg" alt="">
      <img src="/img/insta.svg" alt="">
      <img src="/img/twitter.svg" alt="">
    </div>
    <p>Copyrigth © 2022 Atlas Booking S.L.</p>
  </div>
  
  <div class="footer-links">
    <a href="index.html">Comunidad.</a>
    <a href="index.html">Sobre nosotros.</a>
    <a href="index.html">Uso de cookies.</a>
    <a href="index.html">Politica de privacidad.</a>
    <a href="index.html">Condiciones de uso.</a>
  </div>
  
</footer>

</body>
</html>