<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="scripts/backimage.js"></script>
  <link rel="stylesheet" href="../../static/styles/index.css">
  <link rel="stylesheet" href="../../static/styles/finder.css">
  <link rel="stylesheet" href="../../static/styles/header.css">
  <link rel="stylesheet" href="../../static/styles/footer.css">
  <title>Atlas Booking</title>
</head>
<body class="images-container">

<header class="mainh">

  <div class="lheader">
      <a href="Descubre">Descubre</a>
      <a href="Descubre">Descubre</a>
  </div>
  <div class="cheader">
    <h1>Atlas</h1>
    <p>BOOKING</p>
  </div>

  <div class="lheader">
    <a href="Descubre">Descubre</a>
    <button class="link-buttom" href="index.html">Identifícate</button>
  </div>

</header>

<label class="intro">
  <div class="entry-group">
    <p>Elige una ciudad</p>
    <input type="text" value="Próximo destino..." class="inputciudad">
  </div>
  <div class="entry-group">
    <p>Fecha de entrada</p>
    <input type="date" value="" class="inputfentrada">
  </div>
  <div class="entry-group">
    <p>Fecha de salida</p>
    <input type="date" value="" class="inputfsalida">
  </div>
  <div class="entry-group">
    <p>¿Cuántos adultos?</p>
    <input type="number" value="0" class="inputnadultos">
  </div>
  <div class="entry-group">
    <p>¿Hay niños?</p>
    <input type="number" value="0" class="inputniños">
  </div>
  <div class="entry-group">
    <p>¿Cuántas habitaciones?</p>
    <input type="number" value="0" class="inputnhabitaciones">
  </div>

  <button class="buscar"><img src="../../static/img/buscarLogo.svg" alt="" style="width: 30px"></button>

</label>

<footer class="lasth">

  <div class="promote-hotel">
    <p>Forma parte de nosotros</p>
    <form method="get" action="registro_admin.html">
    <button id="registra" >Registra tus alojamientos</button>
    </form>
  </div>

  <div class="middle-footer">
    <div class="cheader">
      <h1>Atlas</h1>
      <p>BOOKING</p>
    </div>
    <div class="nets">
      <img src="../../static/img/face.svg" alt="">
      <img src="../../static/img/insta.svg" alt="">
      <img src="../../static/img/twitter.svg" alt="">
    </div>
    <p>Copyrigth © 2022 Atlas Booking S.L.</p>
  </div>
  
  <div class="footer-links">
    <a href="index.html">Comunidad.</a>
    <a href="index.html">Sobre nosotros.</a>
    <a href="index.html">Uso de cookies.</a>
    <a href="index.html">Politica de privacidad.</a>
    <a href="index.html">Condiciones de uso.</a>
  </div>
  
</footer>

</body>
</html>