<!doctype html>
<html lang="es" xmlns:th="www.http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/InicioAdministrador.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>Atlas Booking</title>
</head>
<body>

<header class="mainh">

    <div class="cheader">
        <h1>Atlas</h1>
        <p>BOOKING</p>
    </div>

    <div class="lheader">
        <a href="InicioAdministrador.html">Inicio</a>
        <a href="ComentariosAdmin.html">Comentarios</a>
        <a href="FacturasAdmin.html">Administración</a>
        <a href="ofertas_servicios_admin.html">Ofertas y Servicios</a>
        <a href="InformesAdmin.html">Informes</a>
        <div class="login-singup">
            <button href="index.html">Hola Paco</button>
            <a href="index.html">Crear cuenta</a>
        </div>
    </div>


</header>


<div id="tituloyboton">
    <h1>Tus alojamientos</h1>
    <a th:href="@{/hotel/nuevo}">
        <button type="button">Añadir alojamiento</button>
    </a>
</div>
<div id="confirmacion" th:if="${hoteles.size == 0}">
    <h2 style=" text-align: center"> Actualmente, no tiene</h2>
    <br>
</div>
<div id="confirmacion2" th:if="${hoteles.size > 0}">
    <div class="marcohotel" th:each=" hotel : ${hoteles}">
        <div class="conjunto">
            <div class="contenedores" style="width: 50%">
                <h2 th:text="${hotel.nombre} ">Nombre del hotel</h2>
                <p>Estrellas: </p>
                <p th:text="${hotel.estrellas} "></p>
                <p>Dirección: </p>
                <p th:text="${hotel.direccion} "></p>
                <p>Ciudad: </p>
                <p th:text="${hotel.ciudad} "></p>
                <p>País: </p>
                <p th:text="${hotel.pais} "></p>
                <p>Teléfono: </p>
                <p th:text="${hotel.telefono} ">Teléfono</p>
                <p>Email: </p>
                <p th:text="${hotel.email} ">Email</p>


            </div>
            <div class="contenedores" id="contenedor2">
                <div class="listas">
                    <p>lista de comodidades activas</p>
                    <ul>
                        <li>
                            <p>Accesibilidad:</p>
                            <input type="checkbox" th:checked="${hotel.accesibilidad} ">
                        </li>
                        <li>
                            <p>Terraza:</p>
                            <input type="checkbox" th:checked="${hotel.terraza} ">
                        </li>
                        <li>
                            <p>Patio: </p>
                            <input type="checkbox" th:checked="${hotel.patio} ">
                        </li>
                        <li>
                            <p>Parking: </p>
                            <input type="checkbox" th:checked="${hotel.parking} ">
                        </li>
                        <li>
                        <li>
                            <p>Mascotas: </p>
                            <input type="checkbox" th:checked="${hotel.mascotas}">
                        </li>
                        <li>
                            <p>Wifi: </p>
                            <input type="checkbox" th:checked="${hotel.wifi}">
                        </li>
                        <li>
                            <p>Multilengua: </p>
                            <input type="checkbox" th:checked="${hotel.multilengua}">
                        </li>
                    </ul>
                </div>
                <div class="listas">
                    <p>lista de servicios activos</p>


                    <ul>
                        <li>
                            <p>Piscina: </p>
                            <input type="checkbox" th:checked="${hotel.piscina} ">
                        </li>
                        <li>
                            <p>Servicio de habitaciones: </p>
                            <input type="checkbox" th:checked="${hotel.s_habitacion} ">
                        </li>
                        <li>
                            <p>Servicio de transporte: </p>
                            <input type="checkbox" th:checked="${hotel.s_transporte} ">
                        </li>
                        <li>
                            <p>Tours: </p>
                            <input type="checkbox" th:checked="${hotel.tours} ">
                        </li>
                        <li>
                            <p>Espectáculos: </p>
                            <input type="checkbox" th:checked="${hotel.espectaculos} ">
                        </li>
                        <li>
                            <p>Comedor: </p>
                            <input type="checkbox" th:checked="${hotel.comedor} ">
                        </li>
                        <li>
                            <p>Cancelación gratuita </p>
                            <input type="checkbox" th:checked="${hotel.cancelacion_g} ">
                        </li>
                    </ul>
                </div>

            </div>
            <div class="botones">
                <a th:href="@{/hotel/editar/{id}(id=${hotel.id})}">
                    <button type="submit">Editar</button>
                </a>
                <a th:href="@{/usuario/inicio/{id}(id=${hotel.id})}">
                    <button type="submit">Eliminar</button>
                </a>
                <a th:href="@{/hotel/habitacion/{id}(id=${hotel.id})}">
                    <button type="submit">Ver habitaciones</button>
                </a>
                <a th:href="@{/pension/crear/{id}(id=${hotel.id})}">
                    <button type="submit">Tipos de Pensiones</button>
                </a>
            </div>

        </div>


        <div class="imagenes" style="width: 50%">
            <img th:src="${hotel.img}" alt="..." style=" width: 100%;">
        </div>

    </div>
</div>

<footer class="lasth">

    <div class="promote-hotel">
        <p>Forma parte de nosotros</p>
        <button>Registra tus alojamientos</button>
    </div>

    <div class="middle-footer">
        <div class="cheader">
            <h1>Atlas</h1>
            <p>BOOKING</p>
        </div>
        <div class="nets">
            <img src="img/face.svg" alt="">
            <img src="img/insta.svg" alt="">
            <img src="img/twitter.svg" alt="">
        </div>
        <p>Copyrigth © 2022 Atlas Booking S.L.</p>
    </div>

    <div class="footer-links">
        <a href="index.html">Sobre nosotros.</a>
        <a href="index.html">Comunidad.</a>
        <a href="index.html">Uso de cookies.</a>
        <a href="index.html">Politica de privacidad.</a>
        <a href="index.html">Condiciones de uso.</a>
    </div>

</footer>

</body>
</html>