<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atlas Booking</title>
    <link rel="stylesheet" href="styles/sesion.css">
</head>
<body>
    <div class="colunm-content">
        <div class="barra">
            <div class="colunm-content">
                <h1>Atlas</h1>
                <p>BOOKING</p>
            </div>
        </div>
        <div class="contenedor">
            <div class="row-content">
                <div class="colunm-inicio"></div>
                <div class="colunm-registro"></div>
            </div>
        </div>
    </div>
</body>
</html>