<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Atlas Booking</title>
    <link rel="stylesheet" type="text/css" href="/styles/sesion.css">
    <link rel="stylesheet" type="text/css" href="/styles/footer.css">
</head>
<body>

<div th:if="${param.exito}">
    <div>
       Se ha registrado el Cliente
    </div>
</div>
    <div class="colunm-content">
        <div class="barra">
            <div class="colunm-content">
                <h1>Atlas</h1>
                <p style="margin: 0 auto">BOOKING</p>
            </div>
        </div>
        <div class="contenedor">
            <div class="row-content">
                <form th:action="@{/registro}" method="post" th:object="${cliente}" class="colunm-registro">
                    <h2 class="titulo">Regístrate para gestionar tu alojamiento</h2>
                    <label class="label" for="nombre">Nombre</label>
                    <input class="imput" type="text" id="nombre" th:field="*{nombre}" required autofocus="autofocus"/>
                    <label class="label" for="apellido">Apellidos</label>
                    <input class="imput" type="text" id="apellido" th:field="*{apellidos}" required autofocus="autofocus"/>
                    <label class="label" for="dni">DNI</label>
                    <input class="imput" type="text" id="dni" th:field="*{dni}" required autofocus="autofocus"/>
                    <label class="label" type="tel">Número de teléfono</label>
                    <input class="imput" type="text" id="telefono" th:field="*{telefono}" required autofocus="autofocus"/>
                    <label class="label" for="correo">Email</label>
                    <input class="imput" type="text" id="correo" th:field="*{email}" required autofocus="autofocus"/>
                    <div class="parform">
                        <p><b>Usa al menos 10 caracteres que contengan al menos una letra mayúscula y una minúscula</b></p>
                        <label for="contrasena">Introduce tu contraseña</label>
                    </div>
                    <input class="imput" type="password" id="contrasena" th:field="*{contrasena}" required autofocus="autofocus"/>
                    <button class="boton" type ="submit" >siguiente</button>
                </form>
            </div>
        </div>
    </div>
    <footer class="lasth">

        <div class="promote_hotel">
            <p>Forma parte de nosotros</p>
            <button>Registra tus alojamientos</button>
        </div>

        <div class="middle-footer">
            <div class="cheader">
                <h1>Atlas</h1>
                <p>BOOKING</p>
            </div>
            <div class="nets">
                <img src="../../static/styles/img/face.svg" alt="">
                <img src="../../static/styles/img/insta.svg" alt="">
                <img src="../../static/styles/img/twitter.svg" alt="">
            </div>
            <p>Copyrigth © 2022 Atlas Booking S.L.</p>
        </div>

        <div class="footer-links">
            <a href="index.html">Sobre nosotros.</a>
            <a href="index.html">Comunidad.</a>
            <a href="index.html">Uso de cookies.</a>
            <a href="index.html">Politica de privacidad.</a>
            <a href="index.html">Condiciones de uso.</a>
        </div>

    </footer>
</body>
</html>