<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="styles/RegistroeInicioSesionHotel.css">
    <link rel="stylesheet" href="styles/footer.css">
    <title>registroHotel</title>
</head>
<body>
<header class="mainh">

    <div class="barra">
        <div class="colunm-content">
            <h1>Atlas</h1>
            <p>BOOKING</p>
        </div>
    </div>

</header>
<div id="totalpagina">

    <div class="parte1">
        <h1 class="titulo">Inicia sesión para gestionar tu alojamiento</h1>


        <form class="formulario" th:action="@{index.html}" method="post" th:object="${Administrador}">
            <label class="parform" for="correo1">Email</label>
            <input class="parform" type="text" id="correo1" name="correo" />
            <label class="parform" for="contrasena1">Contraseña</label>
            <input class="parform" type="text" id="contrasena1" name="correo" />
            <button class="boton" type ="submit" form="correo" form="contrasena" text="Siguiente">siguiente</button></form>


    </div>

    <div class="parte2">
        <h1 class="titulo">Regístrate para gestionar tu alojamiento</h1>

        <form class="formulario" action="#" th:action="@{index.html}"  method="post" th:object="${nuevo}">
            <label class="parform" for="nombre">Nombre</label>
            <input class="parform" type="text" id="nombre" name="correo" />
            <label class="parform" for="apellido">Apellidos</label>
            <input class="parform" type="text" id="apellido" name="correo" />
            <label class="parform" type="tel">Número de teléfono</label>
            <input class="parform" type="tel" id="tel" name="correo" />
            <label class="parform" for="correo">Email</label>
            <input class="parform" type="text" id="correo" name="correo" />
            <div class="parform">
                <p id="instruccion">Usa al menos 10 caracteres, que contengan al menos una letra mayúscula y una minúscula</p>
                <label for="contrasena">Introduce tu contraseña</label>
            </div>
            <input class="parform"type="text" id="contrasena" name="correo" />
            <label class="parform"for="contrasena2">Confirma tu contraseña</label>
            <input class="parform"type="text" id="contrasena2" name="correo" />
            <button class="boton" type ="submit" form="correo" form="contrasena" text="Siguiente">siguiente</button>
        </form>

        <div id="confirmacion">
            <p>Te hemos enviado un e-mail a</p><p th:text="  ${}"/><p>con un enlace de verificación.</p>
            <p> Para verificar la cuenta, haz clic en el enlace del e-mail que te acabamos de enviar.</p>
        </div>
    </div>

</div>

<footer class="lasth">

    <div class="promote_hotel">
        <p>Forma parte de nosotros</p>
        <button>Registra tus alojamientos</button>
    </div>

    <div class="middle-footer">
        <div class="cheader">
            <h1>Atlas</h1>
            <p>BOOKING</p>
        </div>
        <div class="nets">
            <img src="img/face.svg" alt="">
            <img src="img/insta.svg" alt="">
            <img src="img/twitter.svg" alt="">
        </div>
        <p>Copyrigth © 2022 Atlas Booking S.L.</p>
    </div>

    <div class="footer-links">
        <a href="index.html">Sobre nosotros.</a>
        <a href="index.html">Comunidad.</a>
        <a href="index.html">Uso de cookies.</a>
        <a href="index.html">Politica de privacidad.</a>
        <a href="index.html">Condiciones de uso.</a>
    </div>

</footer>
</body>
</html>