.intro{
    display: flex;
    width: 80%;
    margin: 12% auto;
    justify-content: center;
    align-items: center;
    padding: 2% 1%;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 5px 50px rgba(0, 0, 0, 1);
    -webkit-backdrop-filter: blur(5px);
    color: white;
    border-radius: 5px;
}


.entry-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entry-group > p{
    width: available;
    justify-content: center;
    align-content: center;
    filter: drop-shadow(0 0 10px #000000);
}

input{
    border-color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
}

.inputciudad{
    border-radius: 5px 0 0 5px;
    border-left-style: solid;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 150px;
    height: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.inputfentrada{
    border-left-style: solid;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 150px;
    height: 50px;
    justify-content: center;

}

.inputfsalida{
    border-left-style: solid;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 150px;
    height: 50px;
    justify-content: center;

}

.inputnadultos{
    border-left-style: solid;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 150px;
    height: 50px;
    justify-content: center;

}

.inputniños{
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 150px;
    height: 50px;
    justify-content: center;

}

.inputnhabitaciones{ /*  */
    border-radius: 0 5px 5px 0;
    border-left-style: none;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 150px;
    height: 50px;
    justify-content: center;

}

.buscar{ /* BOTON SUBMIT BUSCAR */
    width: 56px;
    height: 56px;
    margin: auto 0 0 2%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    background-position: center;
}