footer{
    top: 100%;
    position: sticky;
    padding: 1% 0;
    display: flex;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.56);
}
.lasth{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: black;
}

.middle-footer{
    display: grid;
    grid-column: 1;
    grid-gap: 10px;
}
.middle-footer > p{
    color: rgba(240, 255, 255, 0.44);
    text-decoration: none;
    font-size: 11px;
}
.nets{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nets > img{
    width: 15%;
}

.promote-hotel{
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.promote-hotel > p{
    color: azure;
}

#registra{
    align-content: center;
    width: 190px;
    border-radius: 10px;
    border-style: none;
    background-color: azure;
    padding: 5%;
    color: black;
    font-size: 14px;
}

.footer-links{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.footer-links > a{
    color: azure;
    text-decoration: none;
    padding-top: 2%;

}