.center-container{
    display: flex;
    text-align: center;
    justify-content: center;
}

.column-container{
    display: flex;
    flex-direction: column;
}

.row-container{
    display: flex;
    flex-direction: row;
}


.carousel {
    width:80%;
    margin-top: 10%;
    margin-bottom: 1%;
    margin-left: 10%;
}

.navegacion{
    justify-content: center;
    display: flex;
    width: 80%;
    height: 100px;
    background-color: black;
    margin-left: 10%;
    border-radius: 20px;
    margin-bottom: 1%;
    font-family: Arial, serif;

}

.navegacion a{

    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 25px;
    color: white;

}

.navegacion a:hover{

    color: cornflowerblue;
    text-decoration: none;

}



.column-container{
    display: flex;
    flex-direction: column;

}

.row-container-barra{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 1200px;
}

.row-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: beige;
    border-radius: 5px;
    height: 400px;
    position: static;
    width: 500px;
    margin: 10px;
}
