/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

/*  BODY  */
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/img/rio-wallpaper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background 1s linear;
    animation: fade 4s infinite;
    font-family: Arial, sans-serif;
}
