/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

/*  BODY  */
body {
    z-index: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/static/img/rio-wallpaper.jpg");
    background-size: cover;
    transition: background 1s linear;
    animation: fade 4s infinite;
}
